In [105]:
import os
import docx

In [61]:
def readtxt(filename):
    doc = docx.Document(filename)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return fullText

text =  (readtxt("D:/Profiles/sopra/Downloads/Resume Template.docx"))

In [62]:
text = [t.strip() for t in text if t.strip()!= '']   #removing excess whitespaces

In [63]:
text_ = [t.split("  ") for t in text]   #split if there are any excess whitespaces

In [64]:
text

['Your Name',
 '2222 McCoy Road     Columbus, Ohio 44444    614-555-5555    sresume@kent.edu  www.linkedin.com/in/name',
 'OBJECTIVE',
 'Seeking a marketing internship with ABC Company in Spring 2017 to utilize my organizational and analytical skills.',
 'EDUCATION',
 'Bachelor of Business Administration\t\t\t\t\t\tExpected Graduation: May 2018',
 'Kent State University\t\t\t\t\t\t\t\tKent, Ohio',
 'Major: Business Management\t\t\t\t\t\t\tGPA: 3.6',
 'SIGNIFICANT COURSEWORK',
 'Business Finance, Principles of Management, Legal Environment of Business',
 'COMPUTER SKILLS',
 'Microsoft Office: Word, PowerPoint, and basic Excel',
 'Applications: SQL (Structure Query Language)',
 'Programs: Adobe Photoshop, Movie Maker',
 'Social Media Administration: LinkedIn, Twitter, Instagram, Facebook',
 'WORK EXPERIENCE',
 'Kent State University, Kent, Ohio\t\t\t\t\t\tAugust 2015 - Present',
 'Resident Advisor',
 'Collaborate with 10 building staff and campus administrators on a weekly basis to organize a pancake breakfast fundraiser for 200 attendees, raising $500 for community charity.',
 'Utilize effective time management skills by creating and implementing 6 programs and activities each semester for 30 residents while balancing full-time course load and extracurricular commitments.',
 'Demonstrate strong communication skills through interacting with 150 residents and campus administrators on a weekly basis.',
 'Facilitate problem-solving and conflict resolution amongst residents by serving as positive role model, mediator, and leader through one-on-one and small group interventions.',
 'Panini’s Bar and Grill, Cleveland, Ohio                    \t\t\t\tAugust 2014 - May 2015',
 'Server',
 'Worked independently in a fast-paced environment while developing customer service skills with each guest to ensure their needs were consistently met.',
 'Optimized persuasive skills to highlight nightly specials and engage each table’s attention.',
 'Fostered cooperation within a staff of 7 to maintain a pleasant atmosphere.',
 'LEADERSHIP EXPERIENCE',
 'Harding Middle School, Columbus, Ohio\t\t\t\t\tJuly 2014 - October 2015',
 'Soccer Assistant Coach',
 'Executed strong communication skills by guiding and leading 20 seventh and eighth grade girls on team.',
 'Served as positive role model by teaching young athletes about teamwork, respect, and conflict-resolution.',
 'Planned and led weekly meetings with up to 15 parents, field managers and staff members.',
 'Led team to its first regional championship in October 2015; recognized at school banquet with leadership award.',
 'CAMPUS INVOLVEMENT',
 'Member, Delta Sigma Pi\t\t\t\t\t \t\tAugust 2016 - Present',
 'Member, Collegiate Business Association\t\t\t\t\tAugust 2015 - Present',
 'VOLUNTEER EXPERIENCE',
 'Relay for Life, Kent State University\t\t\t\t \t\tMarch 2015',
 'Donation Processer, Greater Cleveland Food Bank\t\t\t\tDecember 2014 - February 2015',
 'HONORS',
 'Summit County Alumni Association Scholarship\t\t\t\t\tSpring 2014 - Present',
 'Dean’s List\t\t\t\t\t\t\t\t\tSpring 2013 - Spring 2015']

In [65]:
text_2  =[sentence for LIST in text_ for sentence in LIST]

In [66]:
text_2 = [t.strip() for t in text_2 if t.strip()!= '']  #remove ""

In [67]:
text_2 = [t.split('\t') for t in text_2]   #remove "\t"

In [68]:
text_2  =[sentence for LIST in text_2 for sentence in LIST]

In [69]:
text_2 = [t.strip() for t in text_2 if t.strip()!= '']             #removed excess spaces

In [70]:
text_2

['Your Name',
 '2222 McCoy Road',
 'Columbus, Ohio 44444',
 '614-555-5555',
 'sresume@kent.edu',
 'www.linkedin.com/in/name',
 'OBJECTIVE',
 'Seeking a marketing internship with ABC Company in Spring 2017 to utilize my organizational and analytical skills.',
 'EDUCATION',
 'Bachelor of Business Administration',
 'Expected Graduation: May 2018',
 'Kent State University',
 'Kent, Ohio',
 'Major: Business Management',
 'GPA: 3.6',
 'SIGNIFICANT COURSEWORK',
 'Business Finance, Principles of Management, Legal Environment of Business',
 'COMPUTER SKILLS',
 'Microsoft Office: Word, PowerPoint, and basic Excel',
 'Applications: SQL (Structure Query Language)',
 'Programs: Adobe Photoshop, Movie Maker',
 'Social Media Administration: LinkedIn, Twitter, Instagram, Facebook',
 'WORK EXPERIENCE',
 'Kent State University, Kent, Ohio',
 'August 2015 - Present',
 'Resident Advisor',
 'Collaborate with 10 building staff and campus administrators on a weekly basis to organize a pancake breakfast fundraiser for 200 attendees, raising $500 for community charity.',
 'Utilize effective time management skills by creating and implementing 6 programs and activities each semester for 30 residents while balancing full-time course load and extracurricular commitments.',
 'Demonstrate strong communication skills through interacting with 150 residents and campus administrators on a weekly basis.',
 'Facilitate problem-solving and conflict resolution amongst residents by serving as positive role model, mediator, and leader through one-on-one and small group interventions.',
 'Panini’s Bar and Grill, Cleveland, Ohio',
 'August 2014 - May 2015',
 'Server',
 'Worked independently in a fast-paced environment while developing customer service skills with each guest to ensure their needs were consistently met.',
 'Optimized persuasive skills to highlight nightly specials and engage each table’s attention.',
 'Fostered cooperation within a staff of 7 to maintain a pleasant atmosphere.',
 'LEADERSHIP EXPERIENCE',
 'Harding Middle School, Columbus, Ohio',
 'July 2014 - October 2015',
 'Soccer Assistant Coach',
 'Executed strong communication skills by guiding and leading 20 seventh and eighth grade girls on team.',
 'Served as positive role model by teaching young athletes about teamwork, respect, and conflict-resolution.',
 'Planned and led weekly meetings with up to 15 parents, field managers and staff members.',
 'Led team to its first regional championship in October 2015; recognized at school banquet with leadership award.',
 'CAMPUS INVOLVEMENT',
 'Member, Delta Sigma Pi',
 'August 2016 - Present',
 'Member, Collegiate Business Association',
 'August 2015 - Present',
 'VOLUNTEER EXPERIENCE',
 'Relay for Life, Kent State University',
 'March 2015',
 'Donation Processer, Greater Cleveland Food Bank',
 'December 2014 - February 2015',
 'HONORS',
 'Summit County Alumni Association Scholarship',
 'Spring 2014 - Present',
 'Dean’s List',
 'Spring 2013 - Spring 2015']

In [71]:
import nltk

In [75]:
tokenized  = [nltk.word_tokenize(sentence) for sentence in text_2]   #tokenized words

In [86]:
index  = []
for i,j in enumerate(tokenized):
        index.extend([i+1]*len(j))      #labelling words with sentence number

In [88]:
index

[1,
 1,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 5,
 5,
 5,
 6,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 33,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 54,
 54,
 54,
 54,
 54,
 55,
 56,
 56,
 56,
 56,
 56,
 57,
 57,
 57,
 57,
 58,
 58,
 58,
 58,
 59,
 59,
 59,
 59,
 59]

In [90]:
final = []
for sentence in tokenized:
    final.extend(sentence)

In [92]:
len(final)

435

In [93]:
len(index)

435

In [94]:
import pandas as pd

In [95]:
df = pd.DataFrame()

In [96]:
df['Sentence_No'] = index
df['Word'] = final

In [97]:
df.head(3)

   Sentence_No  Word
0            1  Your
1            1  Name
2            2  2222

In [98]:
tags = [nltk.pos_tag(sentence) for sentence in tokenized]    #part of speech tagging

In [100]:
POS = []
for sentence in tags:
    for _,tag in sentence:
        POS.append(tag)

In [102]:
len(POS)

435

In [103]:
df['POS'] = POS

In [104]:
df.iloc[]

   Sentence_No  Word   POS
0            1  Your  PRP$
1            1  Name    NN
2            2  2222    CD

In [110]:
path = r"D:\intern\smaple_resumes_for_tagging"
for filename in os.listdir(path):
    print(path + "\\" + filename)

D:\intern\smaple_resumes_for_tagging\blue-side.docx
D:\intern\smaple_resumes_for_tagging\framed.docx
D:\intern\smaple_resumes_for_tagging\lists-expertises.docx
D:\intern\smaple_resumes_for_tagging\personal-brand.docx
D:\intern\smaple_resumes_for_tagging\professional-orange.docx
D:\intern\smaple_resumes_for_tagging\streamlined.docx
D:\intern\smaple_resumes_for_tagging\vibrant.docx